* {
  letter-spacing: 1px;
}

.wrapper {
  margin: 99px auto;
  max-width: 640px;
  padding: 0 40px;
}

.tab-card {
  background-clip: border-box;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.12);
  border-radius: 0 0 5px 5px;
  border-top: none;
  display: flex;
  flex-direction: column;
  min-width: 0;
  padding: 35px 25px 30px 25px;
  position: relative;
  word-wrap: break-word;
}

.tab-img {
  display: none;
}

.tab-name {
  text-align: center;
  width: 140px;
}

.tab-name:hover {
  cursor: pointer;
}

.card-pd {
  margin: 15px 12px;
}

.clear-list-style {
  list-style: none;
  margin: 0;
  padding: 0;
}

.modal-dialog {
  padding-bottom: 151px;
}

.modal-content {
  margin: -10px -30px;
  min-width: 560px;
  position: relative;
  top: 80px;
}

.card-pd > .modal-footer > * {
  margin-top: 10px;
}

.warning-text {
  margin-right: 30px;
}

.error-dialog {
  position: relative;
  top: 150px;
}

.modal-body.display-flex {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.label {
  font-size: 18px;
  margin-bottom: 8px;
}

.label-mg {
  margin-top: 17px;
}

.form-control {
  max-height: 326px;
}

.checkbox {
  margin-right: 10px;
  padding: 10px;
}

.label-checkbox {
  font-size: 18px;
  position: relative;
  text-transform: uppercase;
  top: 1px;
}

.btn {
  margin-top: 20px;
}

.service-btn {
  margin-top: 5px;
}

.full-width-btn {
  width: 100%;
}

.half-width-btn {
  width: 48.78%;
}

.one-third-width-btn {
  margin-top: 10px;
  width: 100%;
}

.left-btn {
  margin-right: 7px;
}

.error-btn {
  margin-top: -5px;
  width: 30%;
}

.no-text-transform {
  text-transform: none;
}

.service-mg {
  margin-bottom: 15px;
}

.image-download-btn {
  font-size: 18px;
  font-style: italic;
}

.save-text-item {
  font-size: 18px;
}

.image-size {
  object-fit: contain;
  padding-left: 22%;
}

.image-item,
.save-image-item {
  display: inline-block;
  margin-right: 15px;
  margin-top: 15px;
  width: 22.5%;
}

.image-items {
  margin-bottom: 15px;
}

.image-item:nth-child(4),
.save-image-item:nth-child(4) {
  margin-right: 0;
}

.service-items {
  margin-bottom: 4px;
  padding-left: 20px;
}

.save-service-item {
  list-style-type: circle;
  margin-top: 2px;
}

@media (max-width: 639px) {
  .label,
  .label-checkbox,
  .save-text-item {
    font-size: 15px;
  }

  .label-checkbox {
    top: 2px;
  }

  .display-flex.modal-body {
    display: block;
  }

  .service-mg {
    margin-bottom: 10px;
  }

  .btn-mg {
    margin-bottom: 12px;
  }

  .error-dialog {
    top: 100px;
  }

  .image-download-btn {
    font-size: 16px;
    margin-bottom: 5px;
  }

  .image-size {
    padding-left: 32%;
  }

  .image-item,
  .save-image-item {
    margin-right: 3%;
    width: 48.5%;
  }

  .image-item:nth-child(even),
  .save-image-item:nth-child(even) {
    margin-right: 0;
  }

  .tab-name {
    width: 25%;
  }

  .tab-text {
    display: none;
  }

  .tab-img {
    display: block;
    margin: auto;
    width: 30px;
  }

  .modal-content {
    margin: 28px auto;
    max-width: 500px;
    min-width: unset;
  }

  .error-btn {
    margin-top: 10px;
    width: 100%;
  }

  .left-btn {
    margin-right: 0;
  }

  .half-width-btn {
    margin-top: 10px;
    width: 100%;
  }
}

@media (max-width: 400px) {
  .image-item,
  .save-image-item {
    width: 100%;
  }

  .image-size {
    padding-left: 40%;
  }
}
